<% content_for(:title, 'dpgram') %>
<div class="show-wrapper">
  <div class="container-fluid">
    <div class="article-container">
      <div>
        <div class="article-header">
          <div class="article-data">
            <strong><span>name area</span></strong>
            <h5><%= @picture.created_at.strftime('%Y年%-m月%-d日 %H:%M') %></h5>
          </div>
          <div class="article-edit-icon">
            <% if @picture.user.id == current_user.id %>
              <%= link_to edit_picture_path(@picture.id), data:{confirm:"こちらの投稿を編集しますか？"} do %>
                <span class="bi bi-pencil-square" title="編集"></span><% end %>
              <%= link_to picture_path(@picture.id), method: :delete, data:{confirm:"こちらの投稿を削除しますか？"} do %>
                <span class="bi bi-trash" title="削除"></span><% end %>
            <% else %>
              <% if @favorite.present? %>
                <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
                <span class="bi bi-heart-fill" title="お気に入り解除する"></span><% end %>
              <% else %>
              <%= link_to favorites_path(picture_id: @picture.id), method: :post do %>
                <span class="bi bi-heart" title="お気に入り登録する"></span><% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div class="article-content">
          <h4><%= @picture.content %></h4>
        </div>
        <div class="article-img-preview">
          <%= image_tag @picture.image.url %>
        </div>
      </div>
    </div>
  </div>
